.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.obj {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 4rem;
  background-color: aqua;
  border: 10px solid;
  border-radius: 10px;
}

.objContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.objContainer button {
  height: 2rem;
  background-color: blueviolet;
  border-radius: 10px;
  border: none;
  margin: 0.2rem;
  color: white;
}
